APP_TITLE=abiesoft
VERSION=v1.0.0
# Konfigurasi Database   
DBS_HOST=
DBS_NAME=
DBS_USER=
DBS_PASS=

# 'production' ->  Web status menampilkan alert jika aplikasi sudah online
# 'local' ->  Web status tidak akan menampilkan alert walaupun status aplikasi sudah online
WEB_STATUS=local
